
* {
  font-family: sans-serif;

}

h1{
  color: black;
}

h2{
  font-size: 20px;
}
body{
  background: url('https://i.imgur.com/wVpIicX.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
